.explore-exhib-container {
  background-color: var(--white);
  max-width: fit-content;
  margin: 0 auto;
  padding: 40px 40px 70px 40px;
}

.explore-exhib-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.explore-exhib-text-img {
  max-width: 350px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .explore-exhib-content {
    flex-direction: column;
  }

  .explore-exhib-text-img {
    max-width: 300px;
  }

  .explore-exhib-container {
    padding: 40px;
  }
}
