.explore-container {
  background-color: #fff;
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

.explore-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.explore-text-img {
  max-width: 350px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .explore-content {
    flex-direction: column;
  }

  .explore-text-img {
    max-width: 300px;
  }
}
