.h1-homepage {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding: 80px 0 0 0;
}

.top-section {
  background-color: black;
  padding-top: 50px;
  z-index: 1;
}

.science-img {
  max-width: 400px;
}

.science-section {
  background-color: #fff;
  height: fit-content;
  padding: 20px;
  margin: 2rem;
}

.content-grid {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .h1-homepage {
    font-size: 50px;
  }

  .science-section {
    max-width: fit-content;
  }

  .content-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
