.h1-homepage {
  font-size: 70px;
  font-weight: 300;
  color: var(--white);
  text-align: center;
  padding-top: 80px;
}

.top-section {
  background-color: var(--black);
  padding-top: 50px;
  z-index: 1;
}

.h2-science {
  font-size: 25px;
  margin-bottom: 10px;
}

.science-img {
  max-width: 400px;
}

.science-section {
  background-color: var(--white);
  padding: 20px 40px 70px 40px;
  margin: 3rem;
}

.content-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* ORB */
.orb {
  animation: spin 2s linear infinite;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 50px var(--white),
    inset 20px 0 60px var(--galaxy-violet), inset -20px 0 60px blue,
    inset 20px 0 300px violet, inset -20px 0 300px var(--galaxy-blue),
    0 0 50px #fff, -10px 0 60px var(--galaxy-violet),
    10px 0 60px var(--galaxy-blue);
}

@keyframes spin {
  0% {
    top: 20px;
  }
  25% {
    top: 22px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 27px;
  }
  100% {
    transform: rotate(360deg);
    top: 20px;
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .h1-homepage {
    font-size: 50px;
  }

  .science-img {
    min-width: 280px;
  }

  .science-section {
    max-width: fit-content;
    margin: 0 auto;
  }

  .content-grid {
    flex-direction: column;
    max-width: 400px;
  }
}
