.homepage-background {
  background-color: #04060a;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/src/img/earth-picture.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 230px 0 50px 0;
}

.vr-img,
.mammooth-img {
  max-width: 500px;
}
