@import "./homepage.css";
@import "./explore.css";
@import "./visit.css";

:root {
  --pri-font-size: 20px;
  --galaxy-blue: #0ff;
  --galaxy-violet: #ee82ee;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans";
  background-color: var(--black);
}

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-weight: 400;
  padding-bottom: 5px;
}

header,
h2,
h3,
p {
  font-size: var(--pri-font-size);
}

p {
  font-weight: 270;
}
button {
  font-size: 18px;
}

/* HEADER AND NAVIGATION*/
header {
  background-color: var(--white);
  padding: 40px 50px 0 50px;
  margin-bottom: 50px;
}

ul {
  display: flex;
  justify-content: flex-end;
  padding: 0 0px 10px 0;
}

nav a {
  color: var(--black);
  text-decoration: none;
  padding-left: 30px;
}

ul,
li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

#menu-checkbox,
.hamburger-icon {
  display: none;
}

/* FOOTER */
footer {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.footer-info,
.footer-links,
.footer-icons {
  display: flex;
  flex-direction: column;
}

.footer-info {
  gap: 30px;
  padding: 30px 0 0 30px;
}

.footer-links {
  gap: 10px;
}

.footer-icons {
  font-size: 50px;
  gap: 30px;
  padding: 30px 60px 30px 0;
}

/* BUTTONS */
.visit-us-button {
  background-image: linear-gradient(
    to right,
    var(--galaxy-blue) 0%,
    var(--galaxy-violet) 51%,
    var(--galaxy-blue) 100%
  );
  color: var(--black);
  margin: 30px auto;
  padding: 12px 40px;
  text-align: center;
  transition: 1s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #797272;
  border: none;
  display: block;
  text-decoration: none;
}

.visit-us-button:hover {
  background-position: right center;
  color: var(--black);
  text-decoration: none;
}

.button-link,
.button-link:hover {
  text-decoration: none;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: var(--pri-font-size);
  }

  h3,
  p {
    font-size: 17px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
  }

  nav,
  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ nav {
    display: block;
  }

  ul {
    display: block;
  }

  li {
    padding: 30px 30px 30px 0;
  }

  nav {
    position: absolute;
    right: 0px;
    background-color: var(--white);
    z-index: 2;
    top: 0;
    margin-top: 111px;
  }

  .hamburger-icon {
    font-size: 40px;
    display: block;
  }
}
