* {
  box-sizing: border-box;
  margin: 0;
}

/* 
html {
  font-size: 16px;
}

h1,
h2,
body,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 27px;
  padding: 0 0 20px 0px;
}

h2 {
  font-size: 20px;
  padding: 0 0 20px 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
}
   */
