@import "./homepage.css";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 20px;
}

h1,
h2,
body,
button {
  font-family: "DM Sans";
}

h1 {
  font-size: 70px;
  font-weight: 300;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}
/* 
main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
}
   */

header {
  display: flex;
  justify-content: ;
}

.logo {
  padding: 20px 20px 20px 50px;
}

nav {
}

nav a {
  display: ;
}
