.visit-container {
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  justify-content: space-between;
  gap: 10px;
}

.hours-container {
  color: var(--black);
  background-color: #aeaed6;
  max-width: 430px;
  padding: 40px 40px 70px 40px;
}

.visit-img {
  max-width: 300px;
}

.visit-content {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 40px 40px 70px 40px;
  gap: 20px;
}

.location-content {
  display: flex;
  gap: 10px;
}

.h2-p-visit {
  max-width: 215px;
}

.h2-admission {
  margin-top: 20px;
}

.map {
  height: 200px;
  width: 300px;
  border: 0;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .visit-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .hours-container {
    padding: 20px;
    margin: 0;
  }

  .visit-content {
    max-width: fit-content;
    margin: 0 auto;
    padding: 30px;
  }

  .location-content {
    display: block;
  }

  .visit-img {
    min-width: 200px;
  }
}
